@charset "UTF-8";
.noPost-overlay-content {
	color: white;
	background-color: #EE8B8B;
	/* width: 600px; */
	width: 350px;
	margin: auto;
	margin-top: 250px;
	margin-bottom: 50px;
	border-radius: 50px;
	/* height: 150px; */
	height:125px;
	text-align: center;
	box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.8);
	font-family: 'Adagio Sans';
}